$font-stack: Helvetica, sans-serif
$primary-color: #9f2

// body
//   margin-top: 100px
//   font: 100% $font-stack
//   color: $primary-color
h1
  color: $primary-color !important

table
  border: 3px solid
  border-color: $primary-color
  table-layout: fixed
  border-collapse: collapse

td, th
  border: 2px solid
  padding: 0 !important
  border-color: black
th
  background-color: silver

.columnHeaders 
  background-color: gold

td
  line-height: 3rem
  font-size: 1rem
  width : 100px 
  input 
    margin: 0
    width: 100%
    height: 3rem
    

.col-selected
  background-color: rgba(30, 144, 255, 0.4) 
  border: 1px solid blue

.dropdown
  width: 90%
  margin: 3% 5%
.numeric
  text-align: right
